body {
  background-color: mintcream;
  font-family: Arial, Helvetica, sans-serif;
}
a {
  color: teal;
}
.container {
  margin: 120px auto;
  max-width: 600px;
}
header {
  margin-bottom: 30px;
}
h1 {
  text-align: center;
  font-weight: 800;
  font-size: 36px;
  line-height: 1.5;
  color: black;
}
form {
  padding: 30px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
  margin-bottom: 30px;
}
.instructions {
  padding: 10px;
  border: 1px grey;
  width: 80%;
  font-size: 16px;
  border-radius: 30px;
  line-height: 20px;
  color: black;
}
.submit-button {
  margin-left: 10px;
  background-color: teal;
  color: white;
  border-radius: 30px;
  font-size: 16px;
  width: 150px;
  padding: 14px 24px;
}
.recipe {
  font-size: 14px;
  background-color: white;
  padding: 20px;
  line-height: 24px;
  border-left: 3px solid teal;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
  border-radius: 10px;
}
footer {
  text-align: center;
  font-size: 14px;
  margin-top: 30px;
}
.recipe strong {
  color: teal;
}
